.wrapper{
    min-height: 100vh;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $base-unit;
}

canvas{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}